/* This will be the css for navbar */
/*
        <div>
            <nav>
                <ul>
                    <li><a href="#"><img src={logo}/> Introvert PC</a></li>
                    <li><a href="#">Home</a></li>
                    <li><a href="#"><img src={userProfilePic}/></a></li>
                </ul>
            </nav>
        </div>
*/

.Nav {
    background-color: var(--cyber-darkblue);
    overflow: hidden;
}

nav {
    float: left;
    width: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--cyber-darkblue);
}

li {
    float: left;
}

li a {
    display: block;
    color: var(--cyber-white);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li img {
    /* fit the image to the navbar */
    width: 30px;
    /*background transparent*/
    background-color: transparent;
}
/* move the last element in nav to its right */
li:last-child {
    position: absolute;
    right: 0;
    top: 0;
}
/* move the first element in nav to its left */
li:first-child {
    left: 0;
    top: 0;
    position: absolute;
}
/* center other elements besides the first and last */
li:nth-child(2) {
    float: none;
    margin: 0 auto;
}