.Nav {
    background-color: var(--cyber-darkblue);
    overflow: hidden;
}

nav {
    float: left;
    width: 100%;
}

.nav-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--cyber-darkblue);
}

.nav-li {
    float: left;
}

.nav-li a {
    display: block;
    color: var(--cyber-white);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.nav-li img {
    /* fit the image to the navbar */
    width: 30px;
    /*background transparent*/
    background-color: transparent;
}
/* move the last element in nav to its right */
.nav-li:last-child {
    position: absolute;
    right: 15px;
    top: -6px;
}
/* move the first element in nav to its left */
.nav-li:first-child {
    left: 0;
    top: 0;
    position: absolute;
}
/* center other elements besides the first and last */
.nav-li:nth-child(2) {
    float: none;
    margin: 0 auto;
}
/*second to last element will be next to the last element*/
.nav-li:nth-last-child(2) {
    position: absolute;
    right: 60px;
    top: -6px;
}