/* root color */
:root {
 --cyber-red: #ff124f;
 --cyber-purple: #7a04eb;
 --cyber-lavender: #fe75fe;
 --cyber-pink: #ff00a0;
 --cyber-darkblue: #120458;
 --cyber-white: #ffffff;
}


body {
  margin: 0;
  /* use inter font */
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
